name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y clang cmake ninja-build

    - name: Configure CMake
      run: |
        cmake -B build \
          -G Ninja \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DSANITIZE=OFF \
          -DTRACY_ENABLE=OFF

    - name: Build
      run: cmake --build build --config Release

    - name: Run Tests
      run: ./build/tests