name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y clang cmake ninja-build gcovr

    - name: Configure CMake (with coverage)
      run: |
        cmake -B build \
          -G Ninja \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DSANITIZE=OFF \
          -DTRACY_ENABLE=OFF \
          -DCOVERAGE=ON

    - name: Build
      run: cmake --build build --config Debug

    - name: Run Tests
      run: ./build/tests

    - name: Generate Coverage + Enforce 95% minimum
      run: |
        gcovr \
          --root . \
          --filter src \
          --exclude '.*tests.*' \
          --exclude '.*third_party.*' \
          --xml coverage.xml \
          --html-details coverage.html \
          --fail-under-line 95